html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/* start override sweetalert2*/

.swal2-title, .swal2-html-container {
    color:#fff !important;
}

div:where(.swal2-container) div:where(.swal2-popup) {
    background-color: #544B4A;
}

  
/*End override sweeralert2*/

/*start custom style*/
.cover-preview {
    max-height: 500px;
    border-radius: 8px;
}
/*end custom style*/